* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Yekan;
}
@font-face {
  font-family: Yekan;
  src: url(./font/Yekan\ Bakh\ EN\ 05\ Medium.ttf);
}
.App {
  width: 100%;
  position: relative;
  height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    135deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(11, 48, 83, 1) 0%,
    rgba(20, 64, 75, 1) 15%,
    rgba(23, 70, 88, 1) 30%,
    rgba(24, 81, 102, 1) 45%,
    rgba(42, 88, 121, 1) 60%,
    rgba(43, 78, 116, 1) 75%,
    rgba(50, 89, 135, 1) 90%,
    rgba(38, 73, 111, 1) 100%
  );
}
.navbar {
  height: 70px;
  padding-bottom: 0px !important;
  display: flex;
  margin-bottom: 70px;
}
.navbar-nav {
  margin-right: auto;
}
.nav-item {
  margin-right: 50px;
  height: 100% !important;
  display: inline-block;
  font-size: 24px;
  cursor: pointer !important;
  font-weight: 600;
}
.nav-item::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width .3s;
}
.nav-item:hover::after {
  width: 100%;
}
.main-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  /* height: 100%; */
}
.search-form{
  width: 50%;
  position: relative;
  justify-content: center;
}
.search-box {
  width: 90% !important;
  height: 50px !important;
  display: flex;
  align-items: center;
  padding-left: 15px;
  border: none;
  margin-right: 50px;
  box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.5);
}
.search-btn{
  position:absolute;
  right: 80px;
  top: 10px;
  background: none;
  border: none;
}
.search-btn i{
  font-size: 24px;
  color: rgb(10, 85, 146);
}
.weather-wrapper{
  width: 90%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.city-box{
  width: 40%;
  min-width: 460px;
  background-color: white;
  border: none;
  box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.city-info{
  width: 50%;
}
.city-weather{
  width: 45%;
}
.city-info{
  display: flex;
  flex-direction: column;
}
.city-name{
  font-size: 28px;
  font-weight: 900;
  color: rgba(19, 18, 32, 0.774);
}
.city-weather div{
  width: 100%;
  border-bottom: 1px solid gray;
  padding: 10px 5px 0px 0px;
  display: flex;
  justify-content: space-between;
}