* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Yekan;
  scrollbar-width: none;
}
@font-face {
  font-family: Yekan;
  src: url(./Assets/Yekan\ Bakh\ EN\ 05\ Medium.ttf);
}
.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1500px;
  overflow-y: auto;
  min-height: 100vh;
  background: rgb(15, 31, 80);
  background: linear-gradient(
    135deg,
    rgba(15, 31, 80, 1) 0%,
    rgba(27, 64, 106, 1) 15%,
    rgba(42, 97, 120, 1) 30%,
    rgba(44, 111, 161, 1) 45%,
    rgba(55, 135, 199, 1) 60%,
    rgba(85, 153, 223, 1) 75%,
    rgba(68, 155, 210, 1) 90%,
    rgba(70, 156, 177, 1) 100%
  );
}
/*--------------------------------------------navigation and menu------------------------------------- */
.navigation {
  height: 70px;
  padding-bottom: 0px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  position: relative;
}

.menu-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100vh;
  background-color: rgba(75, 75, 75, 0.918);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 0px 0px 8px;
  box-shadow: 3px 5px 10px rgba(114, 114, 114, 0.5);
  overflow-y: scroll;
}
.menu-closed {
  display: none;
}
.menu-item {
  color: white;
  margin-bottom: 30px;
  display: inline-block;
  font-size: 20px;
  cursor: pointer !important;
  font-weight: 600;
}
.menu-item::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s;
}
.menu-item:hover::after {
  width: 100%;
}

.search-form {
  width: 50%;
  position: fixed;
  top: 12px;
  display: flex;
  justify-content: center;
}
.search-box {
  width: 90% !important;
  height: 50px !important;
  display: flex;
  align-items: center;
  padding-left: 15px;
  border: none;
  box-shadow: 1px 2px 15px rgba(255, 255, 255, 0.877);
}
.search-btn {
  position: absolute;
  right: 50px;
  top: 10px;
  background: none;
  border: none;
  cursor: pointer;
}
.search-btn i {
  font-size: 22px;
  color: rgb(10, 85, 146);
}
.search-btn i:hover {
  color: rgb(30, 130, 212);
}
.userLoc-weather-btn {
  position: absolute;
  right: 90px;
  top: 10px;
  background: none;
  border: none;
  cursor: pointer;
}
.userLoc-weather-btn i {
  font-size: 24px;
  color: rgb(10, 85, 146);
}
.userLoc-weather-btn i:hover {
  color: rgb(30, 130, 212);
}
.logo {
  color: white;
  font-size: 28px;
  cursor: pointer;
  padding-right: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  font-size: 20px;
  font-weight: 900;
}
#menu-button {
  padding-left: 70px;
}
#menu-button i {
  color: white;
  cursor: pointer;
}
.menu-close-button {
  position: absolute;
  top: 1%;
  right: 0px;
  z-index: 1001;
  width: 30px;
  font-size: 20px;
  height: 70px;
  border-radius: 8px 0px 0px 8px;
  background: none;
  border: none;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 1px 2px 5px rgb(255, 255, 255);
  background: rgba(121, 114, 114, 0.226);
}
.menu-close-button:hover {
  color: black;
  background: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}
/* --------------------------------------------------main-------------------------------------------------- */
.main-wrapper {
  width: 100%;
  overflow-y: auto;
}
/* ------------------------------------------------city box------------------------------------------------ */
.weather-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}
.city-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.city-box {
  width: 60%;
  min-width: 300px;
  background-color: white;
  border: none;
  border-radius: 8px 8px 0px 0px;
  box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 20px 10px;
  margin-bottom: 30px;
}

.city-weather {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.city-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
}
.city-name {
  font-size: 28px;
  font-weight: 900;
  color: rgba(19, 18, 32, 0.774);
}
.city-temp {
  font-size: 38px;
}
.city-weather-option {
  font-size: 20px;
  font-weight: 900;
}
.city-weather div {
  width: 100%;
  padding: 10px 5px 0px 0px;
  display: flex;
  justify-content: space-between;
}
/* ----------------------------------------------forecast----------------------------------------- */
.forecast-btns {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.forecast-btn {
  width: 30%;
  height: 60px;
  background-color: rgb(236, 236, 236);
  box-shadow: 1px 1px 5px rgb(165, 165, 165);
  border: none;
  font-weight: 900;
  font-size: 19px;
  color: black;
  border-radius: 4px;
  padding: 0px 3px 0px 3px;
  cursor: pointer;
}
.forecast-btn:hover {
  background-color: rgb(51, 51, 51);
  color: white;
  box-shadow: none;
}
.forecast-wrapper {
  width: 80%;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  background-color: rgb(240, 238, 238);
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 1px 8px whitesmoke;
}
.forecast-close-btn {
  width: 200px;
  height: 30px;
  border-radius: 0px 0px 8px 8px;
  text-align: center;
  font-size: 20px;
  background-color: rgb(26, 26, 26);
  color: whitesmoke;
  margin-bottom: 70px;
}
.forecast-close-btn:hover {
  background-color: rgba(180, 12, 12, 0.918);
  cursor: pointer;
}
/* ---------------------------------------------hourly forecast---------------------------------------- */
.hourly-wrapper {
  width: 100%;
  display: flex;
}
.forecast-item {
  width: 100%;
  display: flex;
  border-bottom: 1px solid rgba(204, 203, 203, 0.836);
  height: 50px;
  align-items: center;
}
#forecast-item {
  background-color: rgba(199, 213, 224, 0.658);
}

#forecast-item:hover {
  background-color: rgb(140, 180, 212);
}
.forecast-item div {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.time-wrapper {
  width: 10%;
}
.time-item {
  border-bottom: 1px solid rgba(204, 203, 203, 0.493);
  background-color: rgba(188, 183, 202, 0.151);
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.time-item-span {
  font-size: 22px;
  font-weight: 900;
  color: slategrey;
}
.forecast-container {
  width: 90%;
}
.forecast-title {
  font-size: 22px;
  color: rgb(28, 28, 90);
  font-weight: 800;
  text-shadow: 1px 2px 3px steelblue;
}

/* ---------------------------------------------daily forecast---------------------------------------- */
.daily-wrapper {
  width: 75%;
  display: flex;
  align-items: flex-start;
}
.daily-forecast-time {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.daily-forecast-detail {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #203040;
}
.daily-forecast-time-item,
.daily-forecast-detail-item {
  width: 100%;
  height: 250px;
  background-color: rgba(145, 130, 187, 0.404);
  margin-bottom: 50px;
}
.daily-forecast-time-item {
  font-size: 24px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(3, 3, 24, 0.788);
  text-shadow: 1px 2px 5px rgb(41, 41, 160);
  border-radius: 5px 0px 0px 5px;
}
.daily-forecast-detail-item {
  border-radius: 0px 5px 5px 0px;
  display: flex;
}
.daily-forecast-detail-item-left {
  width: 40%;
  padding: 10px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
}
.daily-forecast-detail-item-left-MinMax {
  display: flex;
  height: 50%;
}
.daily-forecast-detail-item-left-MinMax div {
  width: 50%;
  display: flex;
  font-size: 22px;
  font-weight: 900;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.daily-forecast-detail-item-left-DayNight {
  font-size: 28px;
  display: flex;
  font-weight: 900;
  justify-content: space-between;
  height: 50%;
  align-items: center;
  border-bottom: 1px solid rgba(185, 115, 115, 0.596);
}
.daily-forecast-detail-item-left-DayNight div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.daily-forecast-detail-item-right {
  width: 60%;
  padding: 10px;
}
.daily-forecast-detail-item-right div {
  width: 100%;
  display: flex;
  padding: 5px 20px;
}
.daily-forecast-detail-item-right-des {
  justify-content: center;
  align-items: center;
}
.daily-forecast-detail-item-right-des span {
  font-size: 22px;
  font-weight: 900;
}
.daily-forecast-detail-item-right-des img{
  width: 50px;
}
.daily-forecast-detail-item-right-wind,
.daily-forecast-detail-item-right-humidity,
.daily-forecast-detail-item-right-pressure {
  justify-content: space-between;
  font-size: 18px;
  font-weight: 900;
  border-bottom: 1px solid rgba(185, 115, 115, 0.596);
}
.daily-forecast-detail-item-right-feelsLike {
  justify-content: space-between;
  font-size: 18px;
  font-weight: 900;
}
/* -------------------------------------------------Home--------------------------------------------- */
.home-wrapper {
  width: 100%;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-y: hidden;
}
.home-title {
  color: whitesmoke;
  height: 80px;
  font-weight: 900;
  animation-name: homeTitle;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}
@keyframes homeTitle {
  0% {
    text-shadow: 2px 2px 8px white;
    font-size: 38px;
  }
  50% {
    text-shadow: none;
    font-size: 46px;
  }
  100% {
    text-shadow: 2px 2px 8px white;
    font-size: 38px;
  }
}
.home-des {
  color: whitesmoke;
}
#home-cloud {
  font-size: 200px;
  color: white;
  animation-name: cloud;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  margin-bottom: 20px;
}
@keyframes cloud {
  0% {
    text-shadow: 5px 5px 12px rgb(62, 181, 228);
  }
  50% {
    text-shadow: none;
  }
  100% {
    text-shadow: 5px 5px 12px rgb(62, 181, 228);
  }
}
.home-anim {
  width: 260px;
  display: flex;
  justify-content: center;
  position: relative;
}
.fa-tint {
  color: rgb(27, 78, 155);
  font-size: 26px;
  position: absolute;
  animation-name: rain;
  animation-iteration-count: infinite;
  z-index: 1;
}
#water-one {
  left: 17%;
  animation-duration: 4s;
}
#water-one-one {
  left: 17%;
  animation-duration: 2s;
}
#water-two {
  left: 25%;
  animation-duration: 6s;
}
#water-two-two {
  left: 25%;
  animation-duration: 3.7s;
}
#water-three {
  left: 33%;
  animation-duration: 7s;
}
#water-three-three {
  left: 33%;
  animation-duration: 5s;
}
#water-four {
  left: 41%;
  animation-duration: 6s;
}
#water-four-four {
  left: 41%;
  animation-duration: 3s;
}
#water-five {
  left: 49%;
  animation-duration: 4s;
}
#water-five-five {
  left: 49%;
  animation-duration: 2s;
}
#water-six {
  left: 57%;
  animation-duration: 1.5s;
}
#water-six-six {
  left: 57%;
  animation-duration: 6s;
}
#water-seven {
  left: 65%;
  animation-duration: 7s;
}
#water-seven-seven {
  left: 65%;
  animation-duration: 3s;
}
#water-eight {
  left: 73%;
  animation-duration: 2s;
}
#water-eight-eight {
  left: 73%;
  animation-duration: 5s;
}
@keyframes rain {
  0% {
    top: 170px;
  }
  100% {
    top: 200%;
  }
}
/* -----------------------------------------Watchlist---------------------------------------------- */
.watchlist-wrapper {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.watch-city-box {
  width: 48%;
  min-width: 300px;
  background-color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 30px 10px;
}
/* ------------------------------------------forms------------------------------------------------ */
.forms-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.forms {
  width: 30%;
  border: 1px solid white;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 15px 10px;
  min-width: 300px;
}
.ReactModal__Overlay,
.ReactModal__Overlay--after-open {
  background-color: rgba(0, 0, 0, 0.76) !important;
  z-index: 1000;
}
/* -----------------------------------------------------profile-------------------------------------- */
.avatar-image {
  width: 200px;
  border: 1px solid rgba(124, 124, 124, 0.308);
  border-radius: 50%;
  box-shadow: 2px 2px 10px rgba(201, 201, 201, 0.521);
}
.profile-modal {
  width: 40% !important;
  height: 500px !important;
  background-color: whitesmoke !important;
  margin-left: 28.5% !important;
  padding: 10px !important;
  overflow-y: auto;
  margin-top: 7% !important;
  border: 1px solid black !important;
}
.profile-modal{
  font-size: 22px;
}
/* ------------------------------------------------media queries------------------------------------- */
@media only screen and (max-width: 1030px) {
  .daily-wrapper {
    width: 90%;
  }
  .daily-forecast-time-item {
    font-size: 22px;
  }
}
@media only screen and (max-width:880px){
  .daily-wrapper {
    width: 96%;
  }
}
@media only screen and (max-width: 830px) {
  .logo {
    display: none;
  }
  .search-form {
    width: 70%;
    right: 20px;
  }
  .menu-open {
    width: 30%;
  }
  .menu-close-button {
    right: 0px;
  }
  .city-box {
    width: 80%;
  }
  .forecast-btn {
    width: 39.5%;
  }
  .forecast-wrapper {
    width: 90%;
  }
  .hourly-item-des img {
    width: 30px;
  }
  .daily-wrapper {
    width: 96%;
  }
  .profile-modal{
    font-size: 18px;
  }
}
@media only screen and (max-width:720px){
  .daily-forecast-detail-item-left-DayNight{
    font-size: 22px;
  }
  .daily-forecast-detail-item-left-MinMax div {
    font-size: 18px;
  }
  .daily-forecast-time-item{
    font-size: 17px;
  }
  .daily-wrapper{
    width: 100%;
  }
  .forecast-wrapper{
    padding-left: 2px !important;
    padding-right: 2px !important;
  }
  .daily-forecast-detail-item-right-des span{
    font-size: 18px !important;
  }
  .daily-forecast-detail-item-right-des img{
    width: 40px;
  }
}
@media only screen and (max-width: 600px) {
  #menu-button {
    padding-left: 20px;
  }
  .search-form {
    width: 80%;
  }
  .search-btn i {
    font-size: 22px;
  }
  .userLoc-weather-btn i {
    font-size: 22px;
  }
  .menu-open {
    width: 40%;
    background-color: rgba(75, 75, 75, 0.747);
  }
  .city-box {
    width: 90%;
  }
  .city-weather div {
    padding: 12px 0px;
  }
  .city-weather-option {
    font-size: 18px;
  }
  .forecast-btn {
    width: 44%;
    font-size: 17px;
  }
  .forecast-item {
    justify-content: space-around;
  }
  .forecast-item div {
    width: 33%;
  }
  .hourly-item-des {
    font-size: 12px;
  }
  .hourly-humidity {
    display: none !important;
  }
  .forecast-title {
    font-size: 18px;
  }
  .forecast-wrapper {
    padding: 0px 5px;
    width: 94%;
  }
  .daily-forecast-detail-item-right div{
    font-size: 15px !important;
    padding: 8px 0px;
  }
  .daily-forecast-detail-item-left-DayNight{
    font-size: 18px;
  }
  .daily-forecast-detail-item-left-MinMax div {
    font-size: 15px;
  }
  .profile-modal{
    font-size: 15px;
  }
}
@media only screen and (max-width:500px){
  .daily-forecast-detail-item-right-des span{
    font-size: 16px !important;
  }
  .daily-forecast-detail-item-right-des img{
    width: 30px;
  }
  .daily-forecast-detail-item-right div{
    font-size: 13px !important;
    padding: 12px 0px;
  }
  .daily-forecast-detail-item-left-DayNight{
    font-size: 14px;
  }
  .daily-forecast-detail-item-left-MinMax div {
    font-size: 13px;
  }
  .daily-forecast-time-item{
    font-size: 12px;
  }
  .profile-modal {
    width: 70% !important;
    margin-left: 18% !important;
  }
}
@media only screen and (max-width: 450px) {
  .search-btn {
    right: 30px;
  }
  .userLoc-weather-btn {
    right: 60px;
  }
  .search-form {
    right: 0px;
    width: 85%;
  }
  #menu-button {
    padding-left: 10px;
  }
  .menu-open {
    width: 50%;
    background-color: rgba(75, 75, 75, 0.836);
  }
  .city-name {
    font-size: 20px;
  }
  .city-temp {
    font-size: 24px;
  }
  .time-item-span {
    font-size: 16px;
  }
  .forecast-title {
    font-size: 16px;
  }
  .hourly-item-des {
    font-size: 10px;
  }
  .hourly-item-des img {
    width: 25px;
  }
  .daily-forecast-detail-item-right-des span{
    font-size: 14px !important;
  }
  .daily-forecast-detail-item-right-des img{
    width:25xpx;
  }
}
@media only screen and (max-width:400px){
  .daily-forecast-detail-item-left-DayNight{
    font-size: 12px;
  }
  .fa-moon-o{
    font-size: 18px !important;
  }
  .fa-sun-o{
    font-size: 18px !important;
  }
  .daily-forecast-detail-item-left-MinMax div {
    font-size: 10px;
  }
}
@media only screen and (max-width: 330px) {
  .search-btn {
    right: 20px;
  }
  .userLoc-weather-btn {
    right: 50px;
  }
  .menu-open {
    width: 55%;
  }
  .hourly-item-des {
    font-size: 9px;
  }
  .hourly-item-des img {
    width: 20px;
  }
}
